In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
df = pd.read_csv("C:/Users/a525281/Documents/Python Scripts/pandas/project1.csv",encoding = 'latin1')

In [37]:
df

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,NaN,NaN,NaN

In [34]:
df .head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,NaN,NaN,NaN

In [15]:
df1 = pd.read_csv("project2.csv")

In [16]:
df1

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310103,-9999,-9999,-9999,28,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310105,13,-9999,-9999,39,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310106,-9999,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310107,10,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
6,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310108,13,-9999,-9999,11,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
7,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310109,10,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
8,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310110,-9999,-9999,-9999,0,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
9,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310112,-9999,-9999,-9999,22,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
10,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310113,13,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
11,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310114,15,-9999,-9999,0,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
12,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310115,13,-9999,-9999,-11,-72,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
13,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310116,150,-9999,-9999,50,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
14,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310117,79,-9999,-9999,39,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310119,-9999,-9999,-9999,22,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
16,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310120,-9999,-9999,-9999,22,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
17,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310121,10,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
18,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310122,-9999,-9999,-9999,-22,-61,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
19,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310123,-9999,-9999,-9999,61,-39,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
20,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310124,71,-9999,-9999,89,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
21,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310126,-9999,-9999,-9999,39,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
22,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310127,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
23,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310128,-9999,-9999,-9999,39,0,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
24,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310129,56,-9999,-9999,11,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
25,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310130,-9999,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
26,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310131,15,-9999,-9999,0,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
27,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310201,13,-9999,-9999,11,-22,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
28,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310202,-9999,-9999,-9999,-11,-50,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
29,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310203,13,-9999,-9999,-11,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117178,GHCND:GMM00010385,SCHONEFELD GM,19921202,0,-9999,-9999,75,17,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117179,GHCND:GMM00010385,SCHONEFELD GM,19921203,48,-9999,-9999,120,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117180,GHCND:GMM00010385,SCHONEFELD GM,19921204,3,-9999,-9999,72,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117181,GHCND:GMM00010385,SCHONEFELD GM,19921205,48,-9999,-9999,77,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117182,GHCND:GMM00010385,SCHONEFELD GM,19921206,0,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117183,GHCND:GMM00010385,SCHONEFELD GM,19921207,0,-9999,-9999,30,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117184,GHCND:GMM00010385,SCHONEFELD GM,19921208,0,-9999,-9999,33,10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117185,GHCND:GMM00010385,SCHONEFELD GM,19921209,0,-9999,-9999,-9999,19,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117186,GHCND:GMM00010385,SCHONEFELD GM,19921210,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117187,GHCND:GMM00010385,SCHONEFELD GM,19921211,0,-9999,-9999,36,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117188,GHCND:GMM00010385,SCHONEFELD GM,19921212,117,-9999,-9999,53,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117189,GHCND:GMM00010385,SCHONEFELD GM,19921213,28,-9999,-9999,50,14,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117190,GHCND:GMM00010385,SCHONEFELD GM,19921214,66,-9999,-9999,-9999,20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117191,GHCND:GMM00010385,SCHONEFELD GM,19921215,23,-9999,-9999,83,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117192,GHCND:GMM00010385,SCHONEFELD GM,19921216,0,-9999,-9999,42,-20,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117193,GHCND:GMM00010385,SCHONEFELD GM,19921217,0,-9999,-9999,34,-28,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117194,GHCND:GMM00010385,SCHONEFELD GM,19921218,0,-9999,-9999,24,-30,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117195,GHCND:GMM00010385,SCHONEFELD GM,19921219,0,-9999,-9999,40,-10,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117196,GHCND:GMM00010385,SCHONEFELD GM,19921220,66,-9999,-9999,34,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117197,GHCND:GMM00010385,SCHONEFELD GM,19921221,142,10,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117198,GHCND:GMM00010385,SCHONEFELD GM,19921222,0,-9999,-9999,13,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117199,GHCND:GMM00010385,SCHONEFELD GM,19921223,0,-9999,-9999,-20,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117200,GHCND:GMM00010385,SCHONEFELD GM,19921224,0,-9999,-9999,-26,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117201,GHCND:GMM00010385,SCHONEFELD GM,19921225,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117202,GHCND:GMM00010385,SCHONEFELD GM,19921226,0,-9999,-9999,-36,-120,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117203,GHCND:GMM00010385,SCHONEFELD GM,19921227,0,-9999,-9999,10,-95,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117204,GHCND:GMM00010385,SCHONEFELD GM,19921228,0,-9999,-9999,-16,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117205,GHCND:GMM00010385,SCHONEFELD GM,19921229,0,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117206,GHCND:GMM00010385,SCHONEFELD GM,19921230,0,-9999,-9999,-9999,-37,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
117207,GHCND:GMM00010385,SCHONEFELD GM,19921231,3,-9999,-9999,-7,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [35]:
df1 .head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [37]:
#1. Get the Metadata from the above files.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null int64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(3), int64(3), object(6)
memory usage: 436.6+ KB

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [40]:
#2. Get the row names from the above files.
df.index

RangeIndex(start=0, stop=4656, step=1)

In [41]:
list(df.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [43]:
# 3. Change the column name from any of the above file.
df.rename(columns={'Indicator':'Indicator_id'}, inplace=True)

In [44]:
df

,Indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,NaN,NaN,NaN

In [45]:
#4. Change the column name from any of the above file and store the changes made permanently.

df_new=df

In [46]:
df

,Indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,NaN,NaN,NaN

In [47]:
#5. Change the names of multiple columns.

df.rename(columns={'PUBLISH STATES': 'Publication Status','WHO region': 'WHO Region'}, inplace=True)

In [48]:
df

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,NaN,NaN,NaN

In [49]:
#6. Arrange values of a particular column in ascending order.
df.sort_values(['Year'], ascending=[True])

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51,NaN,NaN,NaN

In [50]:
#7. Arrange multiple column values in ascending order.
df =  df.sort_values(by=['Indicator_id','Country','Year','WHO Region','Publication Status'], ascending=[True,True,True,True,True])

In [51]:
df

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49,NaN,NaN,NaN
2598,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Both sexes,62,62,NaN,NaN,NaN
3690,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Male,60,60,NaN,NaN,NaN
3691,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,64,64,NaN,NaN,NaN
2599,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Female,66,66,NaN,NaN,NaN
3692,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Male,64,64,NaN,NaN,NaN
4064,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,65,65,NaN,NaN,NaN
3408,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Both sexes,60,60,NaN,NaN,NaN
3734,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Male,59,59,NaN,NaN,NaN
4114,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Female,61,61,NaN,NaN,NaN
3409,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Male,62,62,NaN,NaN,NaN
3735,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Both sexes,62,62,NaN,NaN,NaN
4115,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Female,63,63,NaN,NaN,NaN
3367,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Male,67,67,NaN,NaN,NaN
3368,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Female,72,72,NaN,NaN,NaN
3369,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,70,70,NaN,NaN,NaN
2248,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Both sexes,72,72,NaN,NaN,NaN
2600,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Male,70,70,NaN,NaN,NaN
2601,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Female,74,74,NaN,NaN,NaN
2246,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Male,38,38,NaN,NaN,NaN
2247,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Female,40,40,NaN,NaN,NaN
3364,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Both sexes,39,39,NaN,NaN,NaN
3365,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Female,45,45,NaN,NaN,NaN
3366,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Both sexes,44,44,NaN,NaN,NaN
4063,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Male,43,43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Male,71,71,NaN,NaN,NaN
669,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Both sexes,76,76,NaN,NaN,NaN
1073,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Female,80,80,NaN,NaN,NaN
288,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Both sexes,58,58,NaN,NaN,NaN
1510,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Male,56,56,NaN,NaN,NaN
3099,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Female,59,59,NaN,NaN,NaN
673,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Male,59,59,NaN,NaN,NaN
674,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Both sexes,61,61,NaN,NaN,NaN
1918,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Female,62,62,NaN,NaN,NaN
289,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,64,64,NaN,NaN,NaN
1076,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Female,65,65,NaN,NaN,NaN
3098,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Male,62,62,NaN,NaN,NaN
290,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Both sexes,43,43,NaN,NaN,NaN
1078,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Male,40,40,NaN,NaN,NaN
1922,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Female,47,47,NaN,NaN,NaN
291,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,41,41,NaN,NaN,NaN
1079,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Male,40,40,NaN,NaN,NaN
1080,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Female,43,43,NaN,NaN,NaN
292,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,57,57,NaN,NaN,NaN
679,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Female,58,58,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58,NaN,NaN,NaN

In [52]:
#8. Make country as the first column of the dataframe.
df[['Country','Indicator_id','Publication Status','Year','WHO Region','World Bank income group','Sex','Display Value','Numeric','Low','High','Comments']]

,Country,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
2798,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Male,45,45,NaN,NaN,NaN
3363,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Both sexes,45,45,NaN,NaN,NaN
4456,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Female,45,45,NaN,NaN,NaN
2245,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,49,49,NaN,NaN,NaN
3689,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Female,49,49,NaN,NaN,NaN
4457,Afghanistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Male,49,49,NaN,NaN,NaN
2598,Albania,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,62,62,NaN,NaN,NaN
3690,Albania,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Male,60,60,NaN,NaN,NaN
3691,Albania,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Female,64,64,NaN,NaN,NaN
2599,Albania,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Female,66,66,NaN,NaN,NaN
3692,Albania,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Male,64,64,NaN,NaN,NaN
4064,Albania,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Both sexes,65,65,NaN,NaN,NaN
3408,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Both sexes,60,60,NaN,NaN,NaN
3734,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,59,59,NaN,NaN,NaN
4114,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Female,61,61,NaN,NaN,NaN
3409,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Male,62,62,NaN,NaN,NaN
3735,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Both sexes,62,62,NaN,NaN,NaN
4115,Algeria,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Female,63,63,NaN,NaN,NaN
3367,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Male,67,67,NaN,NaN,NaN
3368,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Female,72,72,NaN,NaN,NaN
3369,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Both sexes,70,70,NaN,NaN,NaN
2248,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72,NaN,NaN,NaN
2600,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Male,70,70,NaN,NaN,NaN
2601,Andorra,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Female,74,74,NaN,NaN,NaN
2246,Angola,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Male,38,38,NaN,NaN,NaN
2247,Angola,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Female,40,40,NaN,NaN,NaN
3364,Angola,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Both sexes,39,39,NaN,NaN,NaN
3365,Angola,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,45,45,NaN,NaN,NaN
3366,Angola,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Both sexes,44,44,NaN,NaN,NaN
4063,Angola,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Male,43,43,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Male,71,71,NaN,NaN,NaN
669,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Both sexes,76,76,NaN,NaN,NaN
1073,Viet Nam,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Female,80,80,NaN,NaN,NaN
288,Yemen,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Both sexes,58,58,NaN,NaN,NaN
1510,Yemen,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Male,56,56,NaN,NaN,NaN
3099,Yemen,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Female,59,59,NaN,NaN,NaN
673,Yemen,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Male,59,59,NaN,NaN,NaN
674,Yemen,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Both sexes,61,61,NaN,NaN,NaN
1918,Yemen,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Female,62,62,NaN,NaN,NaN
289,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,64,64,NaN,NaN,NaN
1076,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Female,65,65,NaN,NaN,NaN
3098,Yemen,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Male,62,62,NaN,NaN,NaN
290,Zambia,Life expectancy at birth (years),Published,1990,Africa,Low-income,Both sexes,43,43,NaN,NaN,NaN
1078,Zambia,Life expectancy at birth (years),Published,1990,Africa,Low-income,Male,40,40,NaN,NaN,NaN
1922,Zambia,Life expectancy at birth (years),Published,1990,Africa,Low-income,Female,47,47,NaN,NaN,NaN
291,Zambia,Life expectancy at birth (years),Published,2000,Africa,Low-income,Both sexes,41,41,NaN,NaN,NaN
1079,Zambia,Life expectancy at birth (years),Published,2000,Africa,Low-income,Male,40,40,NaN,NaN,NaN
1080,Zambia,Life expectancy at birth (years),Published,2000,Africa,Low-income,Female,43,43,NaN,NaN,NaN
292,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Both sexes,57,57,NaN,NaN,NaN
679,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Female,58,58,NaN,NaN,NaN
3100,Zambia,Life expectancy at birth (years),Published,2012,Africa,Low-income,Male,55,55,NaN,NaN,NaN
684,Zimbabwe,Life expectancy at birth (years),Published,1990,Africa,Low-income,Both sexes,62,62,NaN,NaN,NaN
1512,Zimbabwe,Life expectancy at birth (years),Published,1990,Africa,Low-income,Female,64,64,NaN,NaN,NaN
3103,Zimbabwe,Life expectancy at birth (years),Published,1990,Africa,Low-income,Male,60,60,NaN,NaN,NaN
683,Zimbabwe,Life expectancy at birth (years),Published,2000,Africa,Low-income,Female,42,42,NaN,NaN,NaN
1082,Zimbabwe,Life expectancy at birth (years),Published,2000,Africa,Low-income,Male,42,42,NaN,NaN,NaN
3105,Zimbabwe,Life expectancy at birth (years),Published,2000,Africa,Low-income,Both sexes,42,42,NaN,NaN,NaN
294,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Female,60,60,NaN,NaN,NaN
3104,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Male,56,56,NaN,NaN,NaN
3106,Zimbabwe,Life expectancy at birth (years),Published,2012,Africa,Low-income,Both sexes,58,58,NaN,NaN,NaN

In [60]:
#9. Get the column array using a variable
region = df['WHO Region'].tolist()

In [61]:
region

['Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Western Pacific',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'South-East Asia',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Eastern Mediterranean',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Americas',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Europe',
 'Europe',
 'Europe',
 'Europe',
 ...]

In [53]:
#10. Get the subset rows 11, 24, 37

df.loc[[11,24,37],:]

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21,NaN,NaN,NaN
37,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Cyprus,Female,26,26,NaN,NaN,NaN

In [63]:
# 11. Get the subset rows excluding 5, 12, 23, and 56

df.drop(df.index[[[5,12,23,56]]])

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49,NaN,NaN,NaN
2598,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Both sexes,62,62,NaN,NaN,NaN
3690,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Male,60,60,NaN,NaN,NaN
3691,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,64,64,NaN,NaN,NaN
2599,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Female,66,66,NaN,NaN,NaN
3692,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Male,64,64,NaN,NaN,NaN
4064,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,65,65,NaN,NaN,NaN
3734,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Male,59,59,NaN,NaN,NaN
4114,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Female,61,61,NaN,NaN,NaN
3409,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Male,62,62,NaN,NaN,NaN
3735,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Both sexes,62,62,NaN,NaN,NaN
4115,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Female,63,63,NaN,NaN,NaN
3367,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Male,67,67,NaN,NaN,NaN
3368,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Female,72,72,NaN,NaN,NaN
3369,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,70,70,NaN,NaN,NaN
2248,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Both sexes,72,72,NaN,NaN,NaN
2600,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Andorra,Male,70,70,NaN,NaN,NaN
2246,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Male,38,38,NaN,NaN,NaN
2247,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Female,40,40,NaN,NaN,NaN
3364,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Lower-middle-income,Angola,Both sexes,39,39,NaN,NaN,NaN
3365,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Female,45,45,NaN,NaN,NaN
3366,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Both sexes,44,44,NaN,NaN,NaN
4063,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Angola,Male,43,43,NaN,NaN,NaN
3371,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Both sexes,64,64,NaN,NaN,NaN
4461,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,63,63,NaN,NaN,NaN
4462,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Female,65,65,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
286,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Male,71,71,NaN,NaN,NaN
669,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Both sexes,76,76,NaN,NaN,NaN
1073,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Female,80,80,NaN,NaN,NaN
288,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Both sexes,58,58,NaN,NaN,NaN
1510,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Male,56,56,NaN,NaN,NaN
3099,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Yemen,Female,59,59,NaN,NaN,NaN
673,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Male,59,59,NaN,NaN,NaN
674,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Both sexes,61,61,NaN,NaN,NaN
1918,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Yemen,Female,62,62,NaN,NaN,NaN
289,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,64,64,NaN,NaN,NaN
1076,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Female,65,65,NaN,NaN,NaN
3098,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Male,62,62,NaN,NaN,NaN
290,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Both sexes,43,43,NaN,NaN,NaN
1078,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Male,40,40,NaN,NaN,NaN
1922,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Female,47,47,NaN,NaN,NaN
291,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,41,41,NaN,NaN,NaN
1079,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Male,40,40,NaN,NaN,NaN
1080,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zambia,Female,43,43,NaN,NaN,NaN
292,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,57,57,NaN,NaN,NaN
679,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Female,58,58,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58,NaN,NaN,NaN

In [4]:
users = pd.read_csv("C:/Users/a525281/Documents/Python Scripts/pandas/users.csv")

In [5]:
sessions = pd.read_csv("C:/Users/a525281/Documents/Python Scripts/pandas/sessions.csv")

In [6]:
products = pd.read_csv("C:/Users/a525281/Documents/Python Scripts/pandas/products.csv")

In [26]:
transactions= pd.read_csv("C:/Users/a525281/Documents/Python Scripts/pandas/transactions.csv")

In [8]:
users.head()

   UserID      User  Gender  Registered   Cancelled
0       1   Charles    male  12/21/2012         NaN
1       2     Pedro    male  08/01/2010  08/08/2010
2       3  Caroline  female  10/23/2012  06/07/2016
3       4   Brielle  female  07/17/2013         NaN
4       5  Benjamin    male  11/25/2010         NaN

In [9]:
sessions.head()

   SessionID SessionDate  UserID
0          1  01/05/2010       2
1          2  08/01/2010       2
2          3  11/25/2010       2
3          4  09/21/2011       5
4          5  10/19/2011       4

In [11]:
products.head()

   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04
2          3       C  10.65
3          4       D  10.02
4          5       E  29.66

In [27]:
transactions.head()

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      08/21/2010     7.0          2         1
1              2      05/26/2011     3.0          4         1
2              3      06/16/2011     3.0          3         1
3              4      08/26/2012     1.0          2         3
4              5      06/06/2013     2.0          4         1

In [39]:
#12. Join users to transactions, keeping all rows from transactions and only matching
rows from users (left join)

pd.merge(transactions,
                users[['UserID','User','Gender','Registered','Cancelled']],
                 on='UserID', 
                 how='left')

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1,08/21/2010,7,2,1,NaN,NaN,NaN,NaN
1,2,05/26/2011,3,4,1,Caroline,female,10/23/2012,06/07/2016
2,3,06/16/2011,3,3,1,Caroline,female,10/23/2012,06/07/2016
3,4,08/26/2012,1,2,3,Charles,male,12/21/2012,NaN
4,5,06/06/2013,2,4,1,Pedro,male,08/01/2010,08/08/2010
5,6,12/23/2013,2,5,6,Pedro,male,08/01/2010,08/08/2010
6,7,12/30/2013,3,4,1,Caroline,female,10/23/2012,06/07/2016
7,8,04/24/2014,NaN,2,3,NaN,NaN,NaN,NaN
8,9,04/24/2015,7,4,3,NaN,NaN,NaN,NaN
9,10,05/08/2016,3,4,4,Caroline,female,10/23/2012,06/07/2016

In [42]:
# 13. Which transactions have a UserID not in users?

user_transaction=pd.merge(transactions,
                users[['UserID','User','Gender','Registered','Cancelled']],
                 on='UserID', 
                 how='left')

In [53]:
# 13. Which transactions have a UserID not in users?
user_transaction[pd.isnull(user_transaction.User)]

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1,08/21/2010,7,2,1,NaN,NaN,NaN,NaN
7,8,04/24/2014,NaN,2,3,NaN,NaN,NaN,NaN
8,9,04/24/2015,7,4,3,NaN,NaN,NaN,NaN

In [55]:
# 14. Join users to transactions, keeping only rows from transactions and users that match via UserID (inner join)
pd.merge(transactions,
                users[['UserID','User','Gender','Registered','Cancelled']],
                 on='UserID', 
                 how='inner')

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,2,05/26/2011,3,4,1,Caroline,female,10/23/2012,06/07/2016
1,3,06/16/2011,3,3,1,Caroline,female,10/23/2012,06/07/2016
2,7,12/30/2013,3,4,1,Caroline,female,10/23/2012,06/07/2016
3,10,05/08/2016,3,4,4,Caroline,female,10/23/2012,06/07/2016
4,4,08/26/2012,1,2,3,Charles,male,12/21/2012,NaN
5,5,06/06/2013,2,4,1,Pedro,male,08/01/2010,08/08/2010
6,6,12/23/2013,2,5,6,Pedro,male,08/01/2010,08/08/2010

In [56]:
# 15. Join users to transactions, displaying all matching rows AND all non-matching rows (full outer join)

pd.merge(transactions,
                users[['UserID','User','Gender','Registered','Cancelled']],
                 on='UserID', 
                 how='outer')

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1.0,08/21/2010,7.0,2.0,1.0,NaN,NaN,NaN,NaN
1,9.0,04/24/2015,7.0,4.0,3.0,NaN,NaN,NaN,NaN
2,2.0,05/26/2011,3.0,4.0,1.0,Caroline,female,10/23/2012,06/07/2016
3,3.0,06/16/2011,3.0,3.0,1.0,Caroline,female,10/23/2012,06/07/2016
4,7.0,12/30/2013,3.0,4.0,1.0,Caroline,female,10/23/2012,06/07/2016
5,10.0,05/08/2016,3.0,4.0,4.0,Caroline,female,10/23/2012,06/07/2016
6,4.0,08/26/2012,1.0,2.0,3.0,Charles,male,12/21/2012,NaN
7,5.0,06/06/2013,2.0,4.0,1.0,Pedro,male,08/01/2010,08/08/2010
8,6.0,12/23/2013,2.0,5.0,6.0,Pedro,male,08/01/2010,08/08/2010
9,8.0,04/24/2014,NaN,2.0,3.0,NaN,NaN,NaN,NaN
10,NaN,NaN,4.0,NaN,NaN,Brielle,female,07/17/2013,NaN
11,NaN,NaN,5.0,NaN,NaN,Benjamin,male,11/25/2010,NaN

In [100]:
# 16. Determine which sessions occurred on the same day each user registered

user_session=pd.merge(users,
                sessions[['SessionID','SessionDate','UserID']],
                 on='UserID', 
                 how='outer')

In [101]:
user_session

    UserID      User  Gender  Registered   Cancelled  SessionID SessionDate
0        1   Charles    male  12/21/2012         NaN        NaN         NaN
1        2     Pedro    male  08/01/2010  08/08/2010        1.0  01/05/2010
2        2     Pedro    male  08/01/2010  08/08/2010        2.0  08/01/2010
3        2     Pedro    male  08/01/2010  08/08/2010        3.0  11/25/2010
4        3  Caroline  female  10/23/2012  06/07/2016        7.0  12/21/2012
5        4   Brielle  female  07/17/2013         NaN        5.0  10/19/2011
6        4   Brielle  female  07/17/2013         NaN        6.0  10/23/2012
7        4   Brielle  female  07/17/2013         NaN        8.0  05/22/2013
8        4   Brielle  female  07/17/2013         NaN        9.0  07/17/2013
9        4   Brielle  female  07/17/2013         NaN       10.0  01/11/2016
10       5  Benjamin    male  11/25/2010         NaN        4.0  09/21/2011

In [91]:
session = user_session[user_session['Registered'] == user_session['SessionDate']]

In [97]:
session[session['Cancelled'].isnull()]

   UserID     User  Gender  Registered Cancelled  SessionID SessionDate
3       4  Brielle  female  07/17/2013       NaN        9.0  07/17/2013

In [ ]:
# 17. Build a dataset with every possible (UserID, ProductID) pair (cross join)

In [106]:
#18. Determine how much quantity of each product was purchased by each user

users1=pd.DataFrame({'key':np.repeat(1,users.shape[0]),'UserID':users.UserID})
products1=pd.DataFrame({'key':np.repeat(1,products.shape[0]),'ProductID':products.ProductID})
user_products=pd.merge(users1,products1, on='key')[['UserID','ProductID']]
pd.merge(user_products,transactions, how='left', on=['UserID','ProductID']).groupby(['UserID','ProductID']).apply(lambda x:pd.Series(dict(
Quantity=x.Quantity.sum()))).reset_index().fillna(0)

    UserID  ProductID  Quantity
0        1          1       0.0
1        1          2       3.0
2        1          3       0.0
3        1          4       0.0
4        1          5       0.0
5        2          1       0.0
6        2          2       0.0
7        2          3       0.0
8        2          4       1.0
9        2          5       6.0
10       3          1       0.0
11       3          2       0.0
12       3          3       1.0
13       3          4       6.0
14       3          5       0.0
15       4          1       0.0
16       4          2       0.0
17       4          3       0.0
18       4          4       0.0
19       4          5       0.0
20       5          1       0.0
21       5          2       0.0
22       5          3       0.0
23       5          4       0.0
24       5          5       0.0

In [107]:
# 19. For each user, get each possible pair of pair transactions (TransactionID1,TransacationID2)

pd.merge(transactions,transactions, on='UserID')

,TransactionID_x,TransactionDate_x,UserID,ProductID_x,Quantity_x,TransactionID_y,TransactionDate_y,ProductID_y,Quantity_y
0,1,08/21/2010,7.0,2,1,1,08/21/2010,2,1
1,1,08/21/2010,7.0,2,1,9,04/24/2015,4,3
2,9,04/24/2015,7.0,4,3,1,08/21/2010,2,1
3,9,04/24/2015,7.0,4,3,9,04/24/2015,4,3
4,2,05/26/2011,3.0,4,1,2,05/26/2011,4,1
5,2,05/26/2011,3.0,4,1,3,06/16/2011,3,1
6,2,05/26/2011,3.0,4,1,7,12/30/2013,4,1
7,2,05/26/2011,3.0,4,1,10,05/08/2016,4,4
8,3,06/16/2011,3.0,3,1,2,05/26/2011,4,1
9,3,06/16/2011,3.0,3,1,3,06/16/2011,3,1
10,3,06/16/2011,3.0,3,1,7,12/30/2013,4,1
11,3,06/16/2011,3.0,3,1,10,05/08/2016,4,4
12,7,12/30/2013,3.0,4,1,2,05/26/2011,4,1
13,7,12/30/2013,3.0,4,1,3,06/16/2011,3,1
14,7,12/30/2013,3.0,4,1,7,12/30/2013,4,1
15,7,12/30/2013,3.0,4,1,10,05/08/2016,4,4
16,10,05/08/2016,3.0,4,4,2,05/26/2011,4,1
17,10,05/08/2016,3.0,4,4,3,06/16/2011,3,1
18,10,05/08/2016,3.0,4,4,7,12/30/2013,4,1
19,10,05/08/2016,3.0,4,4,10,05/08/2016,4,4
20,4,08/26/2012,1.0,2,3,4,08/26/2012,2,3
21,5,06/06/2013,2.0,4,1,5,06/06/2013,4,1
22,5,06/06/2013,2.0,4,1,6,12/23/2013,5,6
23,6,12/23/2013,2.0,5,6,5,06/06/2013,4,1
24,6,12/23/2013,2.0,5,6,6,12/23/2013,5,6
25,8,04/24/2014,NaN,2,3,8,04/24/2014,2,3

In [157]:
#20.Join each user to his/her first occuring transaction in the transactions table
transactions.sort_values(by=['UserID','TransactionDate'], ascending=True)
transactions1=transactions.groupby('UserID').first()
users.join(transactions1)

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,12/21/2012,NaN,NaN,NaN,NaN,NaN
1,2,Pedro,male,08/01/2010,08/08/2010,4.0,08/26/2012,2.0,3.0
2,3,Caroline,female,10/23/2012,06/07/2016,5.0,06/06/2013,4.0,1.0
3,4,Brielle,female,07/17/2013,NaN,2.0,05/26/2011,4.0,1.0
4,5,Benjamin,male,11/25/2010,NaN,NaN,NaN,NaN,NaN